<div class="container">

    <div class="row" style="text-align: center;     font-weight: bold;    font-size: x-large;">
        <span>#IndiaFightsCorona COVID-19 </span>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home">State-Wise View</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#menu1">National View</a>
        </li>
        <li class="nav-item">
        </li>
    </ul>

    <div class="tab-content" style="padding-top: 80px;">
        <div class="tab-pane container active" id="home">
            <app-state-wise></app-state-wise>
        </div>
        <div class="tab-pane container fade" id="menu1">
            <app-national></app-national>
        </div>
    </div>

</div>